<div class="social">
	<h4>
    {% if site.github %}
	  <a href="http://github.com/tolribeiro"><i class="fa fa-github"></i></a>
    {% endif %}
    {% if site.email %}
	  <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}

    {% if site.twitter %}
	  <a href="skype:tolribeiro?call" ><i class="fa fa-skype"></i></a>
    {% endif %}
    {% if site.linkedin %}
	  <a href="https://br.linkedin.com/in/thiago-ribeiro-32b65998
" target="_blank"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    <!-- {% if site.stackoverflow %}
	  <a href="http://stackoverflow.com/{{ site.stackoverflow }}"><i class="fa fa-stack-overflow"></i></a>
    {% endif %} -->
	</h4>
</div>
